.toolbar {
    background: #f08200;
    box-shadow: 0 1px 4px 1px #999999 ;
    height: 47px;
    padding: 0 20px;
    width: 100%;
}
.toolbar div {
    margin: auto 0;
}

.toolbar img {
    width: 90px;
}
.toolbar label{
    flex-grow:1;
    margin-left: 20px;
    color: #ffffff;
    font-size: 120%;
}